.home{
  height: 100%;
  overflow: auto;
}
.article_search{
  display: flex;
  align-items: center;
  padding: 10px;
}
.article_table{
  padding: 10px;
  
}
.article_table_headImg{
  width: 100px;
}
.article_table_summary{
  width: 100%;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
}